discovery/class_analysis/results.pkl
discovery/experiments/FeatAct_minigrid/model_snapshots
discovery/experiments/FeatAct_minigrid/models
discovery/experiments/FeatAct_minigrid/models.zip
old_minigrid_models
datasets/AAD/anomaly
datasets/AAD/raw
datasets/AAD/clean/*v4

plots/classifier_res/


*.pkl

venv/
.DS_Store
discovery.egg-info
__pycache__/

#Logging
wandb/
videos/
runs/
models/