discovery/class_analysis/results.pkl
discovery/experiments/FeatAct_minigrid/model_snapshots
discovery/experiments/FeatAct_minigrid/models
old_minigrid_models
datasets/AAD/clean/SeaquestNoFrameskip-v4/

venv/
.DS_Store
discovery.egg-info
__pycache__/

#Logging
wandb/
videos/
runs/
models/